<div class="background-wrapper">

  <img class="logotype" width="300" src="../assets/loggan_vit.png">
  <div class="form1">
    <h2>DAGENS LUNCH:</h2>
    <ul>
    <li>
      Fläskfilé å pärer</li>
      <li>
        Palt å fläsk
    </li>
    </ul>
  </div>
  <div class="form2">
    <h2>DAGENS GÄST:</h2>
    <ul>
    <li>
      Capcito</li>
    <li>
      iZettle</li>
    </ul>
  </div>
  <div class="form3">
    <h2>DAGENS GREJ:</h2>
    <ul>
      <li>
      Björn börjar med aktier</li>
    <li>
      Emil tar sig ann projektet</li>
    </ul>
  </div>

  <div class="information">
    <h2>ANNAN INFORMATION:</h2>
  </div>
</div>


