* {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.form {
  justify-self: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 0px;
  text-align: center;
}

li:before {
  content: '•';
  color: red;
}

h2 {
  text-align: center;
}
